__pycache__
.coverage
.DS_Store
.eggs/
.env
.env.docker
.env.example
.env.example
.git
.idea
.installed.cfg
.pre-commit-config.yaml
.pytest_cache
.Python
.python-version
.ruff_cache/
.ve
.venv
.vscode
*.egg
*.egg-info/
*.pyc
*.pyo
build/
database
develop-eggs/
dist/
Dockerfile
downloads/
eggs/
lib/
lib64/
logs
MANIFEST
parts/
sdist/
share/python-wheels/
tests
var/
wheels/
